@media screen and (max-width: 800px) {
    * {
        font-family: "Raleway", sans-serif;
    }


nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    }
nav a {
    justify-content: space-around;
}

.pop-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 15px;
   }

.pop-card {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}   

.accom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
 }

.accom-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
 }

.activ-wrap-stack {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
 }

.activ a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
 }

}

