* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: black;
}

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-top: 0;
  border: 2px solid green;
}
.logo {
  width: 100%;
  min-height: 10px;
  max-height: 50px;
  border: 2px solid blue;
}

header a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding-top: 35px;
  outline: 1px solid purple;
}

.nav-link:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 33px;
}

.nav-item-1 {
  margin-right: 50%;
  outline: 1px solid red;
}

.search p {
  padding-bottom: 30px;
  }

.search {
  padding-left: 20px;
}

.filters {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 20px; 
    text-align: center;
    border: 3px solid orangered;
  }

.filters button {
    margin-right: 25px;
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 15px;
    border-color: #F2F2F2;
    box-shadow: none;
    font-size: 20px;
    border: 3px solid blue;
  }

.filters button:hover {
  background-color: #deebff;
  border-color: #0065FC;
}

.filters i {
  color: #0065FC;
  height: 30px;
  padding-right: 10px;
  border: 2px solid black;
}

.filter-title {
  margin-right: 20px;
  font-size: 15px; 
  font-weight: 200;
  border: 2px solid purple;

}

#info-button {
  color: #0065FC;
  margin-left: 20px;
  margin-bottom: 30px;
  padding-right: 10px;
  background-color: #F2F2F2;
  height: 30px;
}

.accom {
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 10px;
  width: 62%;
}

.accom-card-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  outline: 3px solid brown;
}

.accom-card {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 30%;
  margin-bottom: 10px;
  border: 2px solid green;
}

.accom-card img {
  width: 100%;
  height: 10em;
  padding: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 3px;
  margin-left: 3px;
}

.accom-card a {
  text-decoration: none;
  color: black; 
}

.card-text-wrap {
  margin-left: 10px;
}







footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  margin-left: 25px;
}

ul {
  list-style-type: none;
  margin: 15px 0 15px 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.footer-link:hover {
  color: #0065FC;
}