* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: black;
}

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-top: 0;
}

.nav-main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  position: relative;
  margin-bottom: 5%;
}

.logo {
  width: 100%;
  min-height: 10px;
  max-height: 50px;
}

.nav-list {
  display:flex;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
 
.nav-link-1:hover,
.nav-link-2:hover,
.nav-link-3:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.nav-item-1 {
  margin-right: 30%;
  padding-bottom: 20px;
}

.nav-list a {
  margin-inline-end: 50px;
  padding-bottom: 20px;
}

.search p {
  padding-bottom: 30px;
  }

.search {
  padding-left: 20px;
}

.filters {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 20px; 
    font-size: 20px;
  }

.filters button {
    margin-right: 25px;
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    box-shadow: none;
    font-size: 20px;
  }

.filters i {
  color: #0065FC;
  height: 30px;
}

.filters h3 {
  margin-right: 20px;
}

#info-button {
  color: #0065FC;
  margin-left: 20px;
  margin-bottom: 30px;
  padding-right: 10px;
  background-color: #F2F2F2;
  height: 30px;
}

footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  margin-left: 25px;
}

ul {
  list-style-type: none;
  margin: 15px 0 15px 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}