* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: black;
}


body {
  max-width: 1440px;
  margin: auto;
}

/*-----------------------HEADER--------------------------*/

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-top: 0;
}
.logo {
  width: 100%;
  min-height: 10px;
  max-height: 50px;
}

header a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding-top: 35px;
}

.nav-link:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 33px;
}

.nav-item-1 {
  margin-right: 50%;
}

.search p {
  padding-bottom: 30px;
  }

.search {
  padding-left: 20px;
  padding-top: 20px;
}
.search p{
  margin-top:10px;
}
.search-bar {
  display: flex;
  flex-flow: row-wrap;
  height: 40px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.search-bar i {
  border: 1px solid lightgray;
  padding: 6px;
  padding-top: 10px;
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 25px;
  text-align: center;
}

.search-bar input {
  border: 1px solid lightgray;
  padding: 9px;
}

.search-bar button {
  border: 1px solid lightgray;
  padding: 6px;
  color: #DEEBFF;
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.long-search:hover,
.search-text:hover {
  color: black;
  border: black;
}

.search-text {
  color: white;
}


.filters {
  display:flex;
  flex-wrap: wrap;

  flex-direction: row;
  padding-left: 20px; 
  text-align: center;
  }

.filters button {
  border: 2px solid lightgray;
  min-width: 120px;
  margin-right: 25px;
  border-radius: 25px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  
  font-weight: bold;

  }

.filters button:hover {
  background-color: #deebff;
}

.filters i {
  background-color: #deebff;
  color: #0065FC;
  height: 25px;
  width: 30px;
  border-radius: 50%;
  padding-top: 7px;
  
}

.filters h2 {
  margin-right: 25px;
  margin-top: 5px;
  font-size: 15px; 
  font-weight: bold;
  justify-content: center;
}

/*-----------------------INFO-------------------------*/


.info i {
  display: inline-block;
  border: 2px solid lightgrey;
  color: #0065FC;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  text-align: center;
  align-content: center;
  margin: 15px;
}

.info-text {
  display: inline-block;
  width: 40%;
}

.info {
  margin-top: 10px;
  margin-bottom: 15px;
}
/*-----------------ACCOMMODATIONS-----------------------*/
.accom-pop {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  outline: 3px solid green;
}


.accom {
  display: inline-block;
  justify-content: start;
  background-color: lightgray;
  border-radius: 15px;
  margin-left: 20px;
  padding: 10px;
  width: 60%;
}

.accom h2 {
  margin-left: 15px;
}

.accom-card-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blue-star {
  color: #0065fc
}

.gray-star {
  color: #a4a29b
}

.accom-card {
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  padding: 8px;
  width: 30%;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px gray;
}

.accom-card img {
  width: 100%;
  height: 10em;
  padding: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accom-card img:hover {
  filter: brightness(95%);
  color: black;
}

.accom-card a {
  text-decoration: none;
  color: black; 
}

.card-text-wrap {
  margin-left: 10px;
  
}

.accom button {
  display: flex;
  background-color: lightgray;
  padding-top: 15px;
  margin-bottom: 10px;
  margin-left: 10%;
  border: none;
  font-weight: bold;
  outline: 3px solid red;
}

/*----------------------POPULAR-------------------------*/
.pop-card-wrap {
  display: inline-block;
  width: 33%;
  background-color: lightgray;
  border-radius: 15px;
  padding: 15px;
  margin-left: 25px;
}

.pop-heading {
  display: flex;
  justify-content: space-between;
}

.pop-heading h2 {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 10px;
}

.pop-heading i {
  display: inline-block;
}

.pop-card {
  display: flex;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 400px;
  box-shadow: 2px 2px 5px gray;

}

.pop-card a {
  display: inline-block;
  text-decoration: none;
  color: black; 
}

.pop-image {
  width: 10.3em;
  height: 10em; 
  flex: none;
  border-radius: 10px 0 0 10px;
}

.pop-image:hover {
  filter: brightness(95%);
  color: black;
}

.text-wrap-pop * {
  margin: 0;
}

.text-wrap-pop {
  padding-top: 10px;
  justify-content: space-evenly;
  width: 55%;
  margin-left: 10px;
}
.text-wrap-pop h3 {
  height: 45%;
}

.text-wrap-pop div {
  height: 15%;
}

.text-wrap-pop p {
  height: 40%;
}

.text-bold {
  font-weight: bold;
}

.card-text-wrap-pop h3 {
  height:45%;
  outline: 2px solid orangered;
}

.card-text-wrap-pop div {
  height:15%;
  outline: 3px solid green;
}

.card-text-wrap-pop p {
  height: 50%;
  outline: 2px solid black;
}

/*------------------------ACTIVITIES---------------------*/
.activ {
  border-radius: 15px;
  padding: 20px;
}

.activ-card {
  display: block;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
}

.activ-card-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
}

.activ-image-tall {
  width: 10px;
  height: 30px;
}

.activ-image-small {
  height: 15px;
  width: 15px;
}

.activ img:hover {
  filter: brightness(95%);
  color: black;
}
/* --------------------- FOOTER -------------------------*/
footer {
  display: inline-block;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  margin-left: 25px;
  outline: 3px solid blue;
}

footer a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 15px 0 15px 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.footer-link:hover {
  color: #0065FC;
}