@media screen and (max-width: 992px) and (min-width: 767px) {
    * {
        font-family: "Raleway", sans-serif;
    }

    /*-- NAVIGATION--*/
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        }
    
    nav a {
        justify-content: space-around;
    }

    /*-- ACCOMMODATIONS--*/
    .accom {
        width: 63%;
    }

    .card-text-wrap h3 {
        font-size: 11px;
    }

    .card-text-wrap p {
        font-size: 10px;
    }

    /*-- POPULAR--*/
    .pop-wrap {
        margin-right: 25px;
    }
    .pop-card {
        width: 99%;
        margin-left: 0;
    }
    
    .text-wrap-pop h3 {
        font-size: 12px;
    }

    .text-wrap-pop p {
        font-size: 12px;
    }

    .card-text-wrap-pop h3 {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .card-text-wrap-pop p {
        font-size: 12px;
        padding-top: 5px;
    }

    #pop-rating {
        /* margin-bottom: 8px; */
    }
     
    #au-coer {
        font-size: 11px;
    }

    .pop-image {
        width: 46%;
    }

/*-- ACTIVITIES--*/
.activ-title-card {
    font-size: 11.5px;
}

}