* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: black;
}
.rating {
  margin-left: 50px;
}
​
.shrink {
  width: 50%;
  text-align: center;
  font-size: 3rem;
}

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-top: 0;
}

.nav-main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 40px;
  position: relative;
  margin-bottom: 5%;
}

.logo {
  width: 100%;
  min-height: 10px;
  max-height: 50px;
}

.nav-list {
  display:flex;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
 
.nav-link-1:hover,
.nav-link-2:hover,
.nav-link-3:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.nav-item-1 {
  margin-right: 30%;
  padding-bottom: 20px;
}

.nav-list a {
  margin-inline-end: 50px;
  padding-bottom: 20px;
}

.search p {
  padding-bottom: 30px;
  }

.search {
  padding-left: 20px;
}

.filters {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 20px; 
    font-size: 20px;
  }

.filters button {
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: white;
    border-color: #F2F2F2;
    font-size: 20px;
  }

.filters i {
  color: #0065FC;
}

.filters h3 {
  margin-right: 20px;
}

.top-sections {
  display: grid;
  padding-left: 20px;
  border: 4px solid green;
  justify-content: space-between;
  }

  ​
.pop {
  display: grid;
  grid-template-columns: 100px;
  border-radius: 15px;
  background-color: lightgray;
  padding: 10px;
  width: 28%;
}
​
.accom {
  display: grid;
  grid-template-columns: 100px;
  border-radius: 15px;
  background-color: lightgray;
  padding: 10px;
  width: 68%;
}


footer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex-direction: column;
}

.footer-1 li,
.footer-2 li,
.footer-3 li {
  list-style: none;
}
